<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>


    <add key="sourcePath" value="\\192.168.0.68\complete (e)\Downloads"/>
    <add key="moviesPath" value="\\192.168.0.68\complete (e)\MoviesNEW"/>
    <add key="seriesPath" value="\\192.168.0.68\complete (e)\SeriesNEW"/>
    <add key="archivePath" value="\\192.168.0.68\complete (e)\archive"/>
    <add key="filebotInstallDir" value="C:\Program Files\FileBot\"/>
    <add key="extensions" value="*.mkv,*.avi,*.mp4"/>
    <add key="sleep" value="10000"/>
    <add key="seriesFormat" value="{n}/Season {s}/{n} - {s00e00} - {t}"/>
    <add key="moviesFormat" value="{n} ({y})/{n} ({y})"/>
    <add key="moviesDB" value="TheMovieDB"/>
    <add key="seriesDB" value="TheTVDB"/>
    <add key="moviesLang" value="de"/>
    <add key="seriesLang" value="en"/>
    <add key="seriesIdentifierRegex" value=".*[Ss][0-9][0-9][Ee][0-9][0-9].*"/>
    


  </appSettings>

</configuration>